

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>

<body>
    <center>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="/updateRecord" method="post">
                        <input type="hidden" name="editid" value="<%= single?.id %>"><br><br>
                        <label for="name">Name:</label>
                        <input type="text" name="User_name" value="<%= single?.name %>">
                        <br><br>
                        <label for="email">Email:</label>
                        <input type="email" name="User_email" value="<%= single?.email %>"><br><br>
                        <input type="submit">
                        <br><br>
                    </form>
                    <a href="/">view</a>
                </div>
            </div>
        </div>
    </center>
</body>

</html>
