<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD_DATA</title>
</head>
<body>
    <div>
        <h2>ADD_DATA</h2>
        <form method="post" action="/crud/insertRecord">
            <table border="1">
                <tr>
                    <td>Name:-</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Email:-</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password:-</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>

            </table>
        </form><br>
        <a href="/crud">view</a>
    </div>
</body>
</html>