<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW_RECORD </title>
</head>

<body>
    <div align="center">
        <h2>View-Data</h2>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <% users.map((val,index)=>{ %>
                    <tr>
                        <td><%= ++index %></td>
                        <td><%= val.name %></td>
                        <td><%= val.email %></td>
                        <td><%= val.password %></td>
                    </tr>
                <%    })  %>
            </tbody>
        </table>
        <a href="/crud/add">ADD</a>
    </div>
</body>

</html>