<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body>
    <div align="center">
        <div>
            <h1>Edit page</h1>

        </div>
        <form action="/crud/updateRecord" method="post">
            <table border="1">

                <input type="hidden" value="<%= user.id %>" name="editid">

                <tr>
                    <td>Name : </td>
                    <td><input type="text" name="name" value="<%= user.name %>"> </td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td><input type="text" name="email" value="<%= user.email %>"> </td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td><input type="text" name="password" value="<%= user.password %>"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="submit"> </td>
                </tr>
            </table>
        </form>
        <br>
        <center>
            <a href="/crud"> View</a>
        </center>
    </div>
</body>

</html>